<!DOCTYPE html>
<html ng-app="toDoList">
<head>
    <title>ToDo list</title>
    <meta charset="utf-8" />

    <link rel="stylesheet" type="text/css" href="Styles/site.css">

    <script src="Scripts/jquery-3.1.0.js" language="javascript"></script>
    <script src="https://unpkg.com/dropbox/dist/Dropbox-sdk.min.js"></script>
    <!--<script src="Scripts/todo.js" language="javascript"></script>-->
    <script src="Scripts/angular.min.js" language="javascript"></script>
    <script src="Scripts/angular-route.min.js" language="javascript"></script>
    <script src="Scripts/angular-cookies.min.js" language="javascript"></script>
    <script src="Scripts/Angular/init.js" language="javascript"></script>
    <script src="Scripts/Angular/services.js" language="javascript"></script>
    <script src="Scripts/Angular/toDoController.js" language="javascript"></script>
   
</head>
<body ng-controller="toDoController">
    {{hello}}
    <table id="tasks">
        <thead>
            <tr>
                <th>Completed</th>
                <th>Task</th>
                <th>Actions</th>
            </tr>
             The row for creating new items.
            <tr id="new">
                <td><input ng-model="newCompeleted"type='checkbox' id="newCompleted" /></td>
                <td><input ng-model="newName"type='text' id="newName" /></td>
                <td><input ng-click="addClick()" type='button' id="newCreate" value='Create' /></td>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="task in tasks" data-id="{{task.ToDoId}}">
                <td>
                    <input type="checkbox" ng-click="updateTask()" ng-model="task.IsCompleted" />
                </td>
                <td class="name">
                    {{task.Name}}
                </td>
                <td>
                    <input type="button" ng-click="deleteTask($index)" class="delete-button" value="Delete" />
                </td>
            </tr>
        </tbody>
    </table>
</body>
</html>
